/* debug */
.debug .container{
  height: 200px;
  background-color: pink;
}

.debug [class*="col-"]{
  border: 1px solid #000;
  height: 100%;
  padding: 10px;
}

.debug [class*="col-"] > .container{
  height: 100%;
}
.debug [class*="col-"] > .container > [class*="col-"]{
  background-color: lightcoral;
  border: 1px solid #fff;
}
.test{background-color: lightgreen}
/* general */
/* WARNING:  */
.color-white{
  color:#fff;
}
.color-white{
  color:#fff;
}
.color-grey{
  color:#5b6987;
}
body{
  font-family: 'Lato', sans-serif;
  word-spacing: 5px;
}
.center{
  text-align: center;
  margin: auto;
}
.right{
  text-align: right;
}
a:hover{
  text-decoration: none;
}
/* WARNING:  */
/* style */
/* header-top */
.header-top li{
  display: inline-block;
  /* margin-right:6px; */
}
.fa-chevron-down{
  margin-left:2px;
}
.header-top{
  line-height: 70px
}
.header-top img{
  margin-left:-15px;
}
nav{
  max-height: 70px;
}
.header-top img{
  width: 200px;
}

.btn_signup{
  border: 1px solid #006aff;
  padding: 10px 15px;
  border-radius: 5px;
  color:#006aff;
}

.btn_signup:hover{
  color:#fff;
  background-color: #006aff;
}

.header-top-nav li{
  margin-right:10px;
  word-spacing: 3px;
}
/* /header-top */
/* hero */
.hero{
  background-image: url(../img/bg-home.svg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  /* height: 500px; */
  padding: 50px 0;
}

.hero-text{
  padding-right: 50px;
  /* width: 100%; */
}

.hero-text h1{
  font-size: 4.5rem;
}

.hero-text p{
  color:lightgrey;
  font-size: 2rem;
}

/* form */
.hero-form{
  color:#031B5E;
  background-color: #fff;
  margin-top:30px;
  border-radius:5px;
  padding-top: 20px;
  width: 100%;
  margin-left: auto;
}

.hero-form h3{
  /* line-height: 15px; */
}

.hero-form h3:nth-child(2){
  color:#3285FF;
  margin-bottom:20px;
}

.hero-form input, .hero-form button{
  width: 95%;
  border: 0.5px solid lightgrey;
  padding: 10px;
  margin-bottom:5px;
  border-radius:5px;
}

.hero-form button{
  padding: 5px;
  font-family: sans-serif;
  font-weight: bold;
  color:grey;
}

.hero-form button:first-of-type{
  background-color: #5898FB;
  color:#fff;
}

.hero-form button img{
  float: left;
}
.hero-form p{
  word-spacing: normal;
  font-family: 'Roboto', sans-serif;
  padding:10px 0 30px 0;
  font-size: 1.2rem;
}

.hero-form p a{
  text-decoration: underline;
  color:blue;
}
